[run]
branch = True
source = recipe_scrapers
relative_files = True

[report]
omit = recipe_scrapers/__version__.py
       recipe_scrapers/plugins/template.py
       recipe_scrapers/settings/template.py

exclude_lines =
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AttributeError
    raise NotImplementedError

ignore_errors = True
