exclude: '.test(html|json)'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: pretty-format-json
        args:
            - "--autofix"
            - "--no-sort-keys"
            - "--no-ensure-ascii"
-   repo: https://github.com/pycqa/flake8.git
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies: ["pep8-naming==0.14.1"]
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black
      args: ["--target-version", "py39"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    - id: mypy
      additional_dependencies: [types-beautifulsoup4, types-requests]
