name: linters

on:
  push:
    branches:
      - main
      - v14
  pull_request:
    branches:
      - main
      - v14

jobs:
  linters:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: pip install tox
      - run: tox -e lint
