name: publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check that the release commit can be found in a release branch
        run: git branch main v14 --contains ${{ github.sha }} | egrep '.+'
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Build the package
        run: |
          python -m pip install --upgrade build
          python -m build .
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true
      - name: Show build version used
        run: pip list | grep build
