name: unittests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Unittest and Coverage Report
        run: |
          coverage run -m unittest
      - name: coveralls.io
        uses: AndreMiras/coveralls-python-action@develop
        with:
          # coveralls repo token
          github-token: "SmlfzlVJy4ow55rduU7IU5GmmFCfAdGeq"
