name: unittests

on:
  push:
    branches: [ main, v14 ]
  pull_request:
    branches: [ main, v14 ]
    types: [ opened, synchronize, reopened ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip
      - name: Install tests dependencies
        run: pip install ".[tests]"
      - name: Run Tests
        env:
          PYTHONWARNINGS: "always:::recipe_scrapers,ignore:::recipe_scrapers.plugins.static_values"
        run: unittest-parallel --level test
