name: unittests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        exclude:
          #  lxml built-from-source fails or produces unreliable results on these platforms
          # ... so skip these platforms
          - os: windows-latest
            python-version: "3.11"
          - os: macos-latest
            python-version: "3.11"
        include:
          # set toxenv to workaround-darwin on macos (check tox.ini)
          - toxenv: py
          - os: macos-latest
            toxenv: workaround-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run Tests
        run: |
          pip install tox
          tox -e ${{ matrix.toxenv }}
