name: unittests

on:
  push:
    branches:
      - v15
  pull_request:
    branches:
      - v15

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        exclude:
          #  lxml built-from-source fails or produces unreliable results on these platforms
          # ... so skip these platforms
          - os: windows-latest
            python-version: "3.11"
          - os: macos-latest
            python-version: "3.11"
        include:
          # set toxenv to py-darwin on macos (check tox.ini)
          - toxenv: py
          - os: macos-latest
            toxenv: py-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install "tox<4"
      - run: tox -e ${{ matrix.toxenv }}
      # Provide code coverage reports if Linux and last py version
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11'
        name: coveralls.io
        uses: AndreMiras/coveralls-python-action@develop
        with:
          # coveralls repo token
          github-token: "SmlfzlVJy4ow55rduU7IU5GmmFCfAdGeq"
